<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

# Accessing Databases with SQL Magic

Estimated time needed: **15** minutes

## Objectives

After completing this lab you will be able to:

*   Perform simplified database access using SQL "magic"

##### To communicate with SQL Databases from within a JupyterLab notebook, we can use the SQL "magic" provided by the [ipython-sql](https://github.com/catherinedevlin/ipython-sql) extension. "Magic" is JupyterLab's term for special commands that start with "%". Below, we'll use the *load*\_*ext* magic to load the ipython-sql extension. In the lab environemnt provided in the course the ipython-sql extension is already installed and so is the ibm_db_sa driver.

In [2]:
!pip install ipython-sql

Defaulting to user installation because normal site-packages is not writeable
Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Collecting sqlalchemy>=2.0
  Downloading SQLAlchemy-2.0.31-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.1/3.1 MB 2.7 MB/s eta 0:00:00m eta 0:00:01[36m0:00:010m
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from ipython-sql) (1.16.0)
Collecting ipython-genutils
  Using cached ipython_genutils-0.2.0-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: ipython in /home/darshan/.local/lib/python3.10/site-packages (from ipython-sql) (8.9.0)
Requirement already satisfied: sqlparse in /home/darshan/.local/lib/python3.10/site-packages (from ipython-sql) (0.5.0)
Collecting prettytable
  Downloading prettytable-3.10.2-py3-none-any.whl (28 kB)
Collecting greenlet!=0.4.17
  Downloading greenlet-3.0.3-cp310-cp310-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (616 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 616.0/616.0 KB 4.2 MB/s eta 0:00:00 MB/s eta 0:00:01
Requirement already satisfied: typing-extensions>=4.6.0 in /home/darshan/.local/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.1)
Requirement already satisfied: pickleshare in /home/darshan/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: jedi>=0.16 in /home/darshan/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: traitlets>=5 in /home/darshan/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: pexpect>4.3 in /usr/lib/python3/dist-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.30 in /home/darshan/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: decorator in /home/darshan/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: matplotlib-inline in /home/darshan/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: backcall in /home/darshan/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: stack-data in /home/darshan/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: pygments>=2.4.0 in /usr/lib/python3/dist-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: wcwidth in /home/darshan/.local/lib/python3.10/site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /home/darshan/.local/lib/python3.10/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in /home/darshan/.local/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens>=2.1.0 in /home/darshan/.local/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: executing>=1.2.0 in /home/darshan/.local/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Installing collected packages: ipython-genutils, prettytable, greenlet, sqlalchemy, ipython-sql
Successfully installed greenlet-3.0.3 ipython-genutils-0.2.0 ipython-sql-0.5.0 prettytable-3.10.2 sqlalchemy-2.0.31

In [3]:
%load_ext sql

##### Here  you will  be creating and connecting to a new SQlite database SQLiteMagic.

##### The syntax for connecting to magic sql using sqllite is

  **%sql sqlite://DatabaseName**   
  
where DatabaseName will be your **.db** file

In [4]:

import csv, sqlite3

con = sqlite3.connect("SQLiteMagic.db")
cur = con.cursor()

In [5]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [6]:
%sql sqlite:///SQLiteMagic.db

##### For convenience, we can use %%sql (two %'s instead of one) at the top of a cell to indicate we want the entire cell to be treated as SQL. Let's use this to create a table and fill it with some test data for experimenting.

In [8]:
%%sql

CREATE TABLE INTERNATIONAL_STUDENT_TEST_SCORES (
	country VARCHAR(50),
	first_name VARCHAR(50),
	last_name VARCHAR(50),
	test_score INT
);
INSERT INTO INTERNATIONAL_STUDENT_TEST_SCORES (country, first_name, last_name, test_score)
VALUES
('United States', 'Marshall', 'Bernadot', 54),
('Ghana', 'Celinda', 'Malkin', 51),
('Ukraine', 'Guillermo', 'Furze', 53),
('Greece', 'Aharon', 'Tunnow', 48),
('Russia', 'Bail', 'Goodwin', 46),
('Poland', 'Cole', 'Winteringham', 49),
('Sweden', 'Emlyn', 'Erricker', 55),
('Russia', 'Cathee', 'Sivewright', 49),
('China', 'Barny', 'Ingerson', 57),
('Uganda', 'Sharla', 'Papaccio', 55),
('China', 'Stella', 'Youens', 51),
('Poland', 'Julio', 'Buesden', 48),
('United States', 'Tiffie', 'Cosely', 58),
('Poland', 'Auroora', 'Stiffell', 45),
('China', 'Clarita', 'Huet', 52),
('Poland', 'Shannon', 'Goulden', 45),
('Philippines', 'Emylee', 'Privost', 50),
('France', 'Madelina', 'Burk', 49),
('China', 'Saunderson', 'Root', 58),
('Indonesia', 'Bo', 'Waring', 55),
('China', 'Hollis', 'Domotor', 45),
('Russia', 'Robbie', 'Collip', 46),
('Philippines', 'Davon', 'Donisi', 46),
('China', 'Cristabel', 'Radeliffe', 48),
('China', 'Wallis', 'Bartleet', 58),
('Moldova', 'Arleen', 'Stailey', 38),
('Ireland', 'Mendel', 'Grumble', 58),
('China', 'Sallyann', 'Exley', 51),
('Mexico', 'Kain', 'Swaite', 46),
('Indonesia', 'Alonso', 'Bulteel', 45),
('Armenia', 'Anatol', 'Tankus', 51),
('Indonesia', 'Coralyn', 'Dawkins', 48),
('China', 'Deanne', 'Edwinson', 45),
('China', 'Georgiana', 'Epple', 51),
('Portugal', 'Bartlet', 'Breese', 56),
('Azerbaijan', 'Idalina', 'Lukash', 50),
('France', 'Livvie', 'Flory', 54),
('Malaysia', 'Nonie', 'Borit', 48),
('Indonesia', 'Clio', 'Mugg', 47),
('Brazil', 'Westley', 'Measor', 48),
('Philippines', 'Katrinka', 'Sibbert', 51),
('Poland', 'Valentia', 'Mounch', 50),
('Norway', 'Sheilah', 'Hedditch', 53),
('Papua New Guinea', 'Itch', 'Jubb', 50),
('Latvia', 'Stesha', 'Garnson', 53),
('Canada', 'Cristionna', 'Wadmore', 46),
('China', 'Lianna', 'Gatward', 43),
('Guatemala', 'Tanney', 'Vials', 48),
('France', 'Alma', 'Zavittieri', 44),
('China', 'Alvira', 'Tamas', 50),
('United States', 'Shanon', 'Peres', 45),
('Sweden', 'Maisey', 'Lynas', 53),
('Indonesia', 'Kip', 'Hothersall', 46),
('China', 'Cash', 'Landis', 48),
('Panama', 'Kennith', 'Digance', 45),
('China', 'Ulberto', 'Riggeard', 48),
('Switzerland', 'Judy', 'Gilligan', 49),
('Philippines', 'Tod', 'Trevaskus', 52),
('Brazil', 'Herold', 'Heggs', 44),
('Latvia', 'Verney', 'Note', 50),
('Poland', 'Temp', 'Ribey', 50),
('China', 'Conroy', 'Egdal', 48),
('Japan', 'Gabie', 'Alessandone', 47),
('Ukraine', 'Devlen', 'Chaperlin', 54),
('France', 'Babbette', 'Turner', 51),
('Czech Republic', 'Virgil', 'Scotney', 52),
('Tajikistan', 'Zorina', 'Bedow', 49),
('China', 'Aidan', 'Rudeyeard', 50),
('Ireland', 'Saunder', 'MacLice', 48),
('France', 'Waly', 'Brunstan', 53),
('China', 'Gisele', 'Enns', 52),
('Peru', 'Mina', 'Winchester', 48),
('Japan', 'Torie', 'MacShirrie', 50),
('Russia', 'Benjamen', 'Kenford', 51),
('China', 'Etan', 'Burn', 53),
('Russia', 'Merralee', 'Chaperlin', 38),
('Indonesia', 'Lanny', 'Malam', 49),
('Canada', 'Wilhelm', 'Deeprose', 54),
('Czech Republic', 'Lari', 'Hillhouse', 48),
('China', 'Ossie', 'Woodley', 52),
('Macedonia', 'April', 'Tyer', 50),
('Vietnam', 'Madelon', 'Dansey', 53),
('Ukraine', 'Korella', 'McNamee', 52),
('Jamaica', 'Linnea', 'Cannam', 43),
('China', 'Mart', 'Coling', 52),
('Indonesia', 'Marna', 'Causbey', 47),
('China', 'Berni', 'Daintier', 55),
('Poland', 'Cynthia', 'Hassell', 49),
('Canada', 'Carma', 'Schule', 49),
('Indonesia', 'Malia', 'Blight', 48),
('China', 'Paulo', 'Seivertsen', 47),
('Niger', 'Kaylee', 'Hearley', 54),
('Japan', 'Maure', 'Jandak', 46),
('Argentina', 'Foss', 'Feavers', 45),
('Venezuela', 'Ron', 'Leggitt', 60),
('Russia', 'Flint', 'Gokes', 40),
('China', 'Linet', 'Conelly', 52),
('Philippines', 'Nikolas', 'Birtwell', 57),
('Australia', 'Eduard', 'Leipelt', 53)

 * sqlite:///SQLiteMagic.db
(sqlite3.OperationalError) table INTERNATIONAL_STUDENT_TEST_SCORES already exists
[SQL: CREATE TABLE INTERNATIONAL_STUDENT_TEST_SCORES (
	country VARCHAR(50),
	first_name VARCHAR(50),
	last_name VARCHAR(50),
	test_score INT
);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

#### Using Python Variables in your SQL Statements

##### You can use python variables in your SQL statements by adding a ":" prefix to your python variable names.

##### For example, if I have a python variable `country` with a value of `"Canada"`, I can use this variable in a SQL query to find all the rows of students from Canada.

In [9]:
country = "Canada"
%sql select * from INTERNATIONAL_STUDENT_TEST_SCORES where country = :country

 * sqlite:///SQLiteMagic.db
Done.

[('Canada', 'Cristionna', 'Wadmore', 46),
 ('Canada', 'Wilhelm', 'Deeprose', 54),
 ('Canada', 'Carma', 'Schule', 49)]

#### Assigning the Results of Queries to Python Variables

##### You can use the normal python assignment syntax to assign the results of your queries to python variables.

##### For example, I have a SQL query to retrieve the distribution of test scores (i.e. how many students got each score). I can assign the result of this query to the variable `test_score_distribution` using the `=` operator.

In [10]:
test_score_distribution = %sql SELECT test_score as "Test_Score", count(*) as "Frequency" from INTERNATIONAL_STUDENT_TEST_SCORES GROUP BY test_score;
test_score_distribution

 * sqlite:///SQLiteMagic.db
Done.

[(38, 2),
 (40, 1),
 (43, 2),
 (44, 2),
 (45, 8),
 (46, 7),
 (47, 4),
 (48, 14),
 (49, 8),
 (50, 10),
 (51, 8),
 (52, 8),
 (53, 8),
 (54, 5),
 (55, 4),
 (56, 1),
 (57, 2),
 (58, 4),
 (60, 1)]

#### Converting Query Results to DataFrames

##### You can easily convert a SQL query result to a pandas dataframe using the `DataFrame()` method. Dataframe objects are much more versatile than SQL query result objects. For example, we can easily graph our test score distribution after converting to a dataframe.

In [13]:
dataframe = test_score_distribution.DataFrame()

%matplotlib inline
# uncomment the following line if you get an module error saying seaborn not found
# !pip install seaborn==0.9.0
import seaborn

plot = seaborn.barplot(x='Test_Score',y='Frequency', data=dataframe)

AttributeError: module 'numpy' has no attribute 'float'

Now you know how to work within JupyterLab notebooks using SQL "magic"!

In [12]:
%%sql 

-- Feel free to experiment with the data set provided in this notebook for practice:
SELECT country, first_name, last_name, test_score FROM INTERNATIONAL_STUDENT_TEST_SCORES;

 * sqlite:///SQLiteMagic.db
Done.

[('United States', 'Marshall', 'Bernadot', 54),
 ('Ghana', 'Celinda', 'Malkin', 51),
 ('Ukraine', 'Guillermo', 'Furze', 53),
 ('Greece', 'Aharon', 'Tunnow', 48),
 ('Russia', 'Bail', 'Goodwin', 46),
 ('Poland', 'Cole', 'Winteringham', 49),
 ('Sweden', 'Emlyn', 'Erricker', 55),
 ('Russia', 'Cathee', 'Sivewright', 49),
 ('China', 'Barny', 'Ingerson', 57),
 ('Uganda', 'Sharla', 'Papaccio', 55),
 ('China', 'Stella', 'Youens', 51),
 ('Poland', 'Julio', 'Buesden', 48),
 ('United States', 'Tiffie', 'Cosely', 58),
 ('Poland', 'Auroora', 'Stiffell', 45),
 ('China', 'Clarita', 'Huet', 52),
 ('Poland', 'Shannon', 'Goulden', 45),
 ('Philippines', 'Emylee', 'Privost', 50),
 ('France', 'Madelina', 'Burk', 49),
 ('China', 'Saunderson', 'Root', 58),
 ('Indonesia', 'Bo', 'Waring', 55),
 ('China', 'Hollis', 'Domotor', 45),
 ('Russia', 'Robbie', 'Collip', 46),
 ('Philippines', 'Davon', 'Donisi', 46),
 ('China', 'Cristabel', 'Radeliffe', 48),
 ('China', 'Wallis', 'Bartleet', 58),
 ('Moldova', 'Arleen', 'Stailey', 38),
 ('Ireland', 'Mendel', 'Grumble', 58),
 ('China', 'Sallyann', 'Exley', 51),
 ('Mexico', 'Kain', 'Swaite', 46),
 ('Indonesia', 'Alonso', 'Bulteel', 45),
 ('Armenia', 'Anatol', 'Tankus', 51),
 ('Indonesia', 'Coralyn', 'Dawkins', 48),
 ('China', 'Deanne', 'Edwinson', 45),
 ('China', 'Georgiana', 'Epple', 51),
 ('Portugal', 'Bartlet', 'Breese', 56),
 ('Azerbaijan', 'Idalina', 'Lukash', 50),
 ('France', 'Livvie', 'Flory', 54),
 ('Malaysia', 'Nonie', 'Borit', 48),
 ('Indonesia', 'Clio', 'Mugg', 47),
 ('Brazil', 'Westley', 'Measor', 48),
 ('Philippines', 'Katrinka', 'Sibbert', 51),
 ('Poland', 'Valentia', 'Mounch', 50),
 ('Norway', 'Sheilah', 'Hedditch', 53),
 ('Papua New Guinea', 'Itch', 'Jubb', 50),
 ('Latvia', 'Stesha', 'Garnson', 53),
 ('Canada', 'Cristionna', 'Wadmore', 46),
 ('China', 'Lianna', 'Gatward', 43),
 ('Guatemala', 'Tanney', 'Vials', 48),
 ('France', 'Alma', 'Zavittieri', 44),
 ('China', 'Alvira', 'Tamas', 50),
 ('United States', 'Shanon', 'Peres', 45),
 ('Sweden', 'Maisey', 'Lynas', 53),
 ('Indonesia', 'Kip', 'Hothersall', 46),
 ('China', 'Cash', 'Landis', 48),
 ('Panama', 'Kennith', 'Digance', 45),
 ('China', 'Ulberto', 'Riggeard', 48),
 ('Switzerland', 'Judy', 'Gilligan', 49),
 ('Philippines', 'Tod', 'Trevaskus', 52),
 ('Brazil', 'Herold', 'Heggs', 44),
 ('Latvia', 'Verney', 'Note', 50),
 ('Poland', 'Temp', 'Ribey', 50),
 ('China', 'Conroy', 'Egdal', 48),
 ('Japan', 'Gabie', 'Alessandone', 47),
 ('Ukraine', 'Devlen', 'Chaperlin', 54),
 ('France', 'Babbette', 'Turner', 51),
 ('Czech Republic', 'Virgil', 'Scotney', 52),
 ('Tajikistan', 'Zorina', 'Bedow', 49),
 ('China', 'Aidan', 'Rudeyeard', 50),
 ('Ireland', 'Saunder', 'MacLice', 48),
 ('France', 'Waly', 'Brunstan', 53),
 ('China', 'Gisele', 'Enns', 52),
 ('Peru', 'Mina', 'Winchester', 48),
 ('Japan', 'Torie', 'MacShirrie', 50),
 ('Russia', 'Benjamen', 'Kenford', 51),
 ('China', 'Etan', 'Burn', 53),
 ('Russia', 'Merralee', 'Chaperlin', 38),
 ('Indonesia', 'Lanny', 'Malam', 49),
 ('Canada', 'Wilhelm', 'Deeprose', 54),
 ('Czech Republic', 'Lari', 'Hillhouse', 48),
 ('China', 'Ossie', 'Woodley', 52),
 ('Macedonia', 'April', 'Tyer', 50),
 ('Vietnam', 'Madelon', 'Dansey', 53),
 ('Ukraine', 'Korella', 'McNamee', 52),
 ('Jamaica', 'Linnea', 'Cannam', 43),
 ('China', 'Mart', 'Coling', 52),
 ('Indonesia', 'Marna', 'Causbey', 47),
 ('China', 'Berni', 'Daintier', 55),
 ('Poland', 'Cynthia', 'Hassell', 49),
 ('Canada', 'Carma', 'Schule', 49),
 ('Indonesia', 'Malia', 'Blight', 48),
 ('China', 'Paulo', 'Seivertsen', 47),
 ('Niger', 'Kaylee', 'Hearley', 54),
 ('Japan', 'Maure', 'Jandak', 46),
 ('Argentina', 'Foss', 'Feavers', 45),
 ('Venezuela', 'Ron', 'Leggitt', 60),
 ('Russia', 'Flint', 'Gokes', 40),
 ('China', 'Linet', 'Conelly', 52),
 ('Philippines', 'Nikolas', 'Birtwell', 57),
 ('Australia', 'Eduard', 'Leipelt', 53)]